@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.menuHeaderWrapper {
  z-index: 20;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topMenu {
  top: 0;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  transition: all linear 0.5s;
}

.topMenu a {
  text-decoration: none;
  color: white;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.5s;
}

.topMenu a:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
}

.header {
  width: 100%;
  height: 70px;
  padding: 30px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Raleway", sans-serif;
  user-select: none;
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  z-index: 10;
}

.imageViewer a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.logoFont1 {
  font-weight: bold;
}

.logoFont2 {
  font-weight: 300;
}

.menuItem {
  text-decoration: none;
  margin: 0 15px;
  color: white;
  font-weight: bold;
}

.menuItem:hover {
  color: whitesmoke;
}

.footerCopyright {
  padding-bottom: 35px;
}

.footer {
  background-color: #000;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.phoneMenu {
  display: none;
  margin: 0 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer a img {
  height: 1.5em;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }

  .footer p {
    margin-bottom: 20px;
  }

  .footerCopyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .phoneMenu {
    display: block;
    margin: 0;
  }

  .header {
    padding-right: 20px;
    font-size: 0.9em;
  }

  .headerLogo {
    font-size: 1.2em;
  }

  .menuItem {
    display: none;
  }

  .closeIcon {
    height: 15px;
  }
}
